http://localhost:3000/api/markOrderPurchased?orderId=<%= orderId %>
<div>
    <h1>Show this code to a worker to finish your order</h1>
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http://localhost:3000/api/markOrderPurchased?orderId=<%= orderId %>">
</div>
