:root {
    --dark-brown:#1A120B;
    --brown:#3C2A21;
    --faded:#765849;
    --light: #D5CEA3;
    --almost-white:#E5E5CB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--dark-brown);
    color: var(--light);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: var(--dark-brown);
    color: var(--almost-white);
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--almost-white);
    text-decoration: none;
}

.hero {
    position: relative;
    background-image: url('images/01.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: var(--brown);
    color: var(--almost-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--light);
}

.menu {
    padding: 100px 0;
}

.menu h2 {
    text-align: center;
    margin-bottom: 30px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.menu-item {
    background-color: var(--brown);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
}

.menu-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 1em;
    margin-bottom: 10px;
}

.menu-item span {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--almost-white);
}

.about {
    background-color: var(--brown);
    padding: 100px 0;
}

.about h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.contact {
    padding: 100px 0;
    background-color: var(--dark-brown);
}

.contact h2 {
    text-align: center;
    margin-bottom: 30px;
}

.contact p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: #000000;
    color: var(--light);
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

#backToTopBtn {
    display: none; /* Hide button by default */
    position: fixed; /* Fixed position so it's always visible */
    bottom: 20px;
    left: 20px;
    background-color: var(--brown);
    color: #fff;
    border: none;
    border-radius: 50%; /* Circular button */
    cursor: pointer;
    font-size: 24px;
    width: 80px;
    height: 80px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#backToTopBtn:hover {
    background-color: var(--almost-white);
}

#checkoutButtonContainer {
    display: none;
    position: fixed; /* Fixed position so it's always visible */
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
}

#pendingButtonContainer {
    display: block;
    position: fixed; /* Fixed position so it's always visible */
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
}

#pendingOrderBtn {
    display: block;
}

.cart-btn {
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
}

/* Custom styling for form inputs */
input[type="text"],
input[type="password"] {
    width: calc(100% - 16px); /* Adjusted width to account for padding */
    padding: 10px; /* Increased padding for better input field appearance */
    margin-bottom: 20px; /* Increased margin for better separation */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove default focus outline */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Change border color on focus */
}

/* Style for placeholder text */
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999; /* Placeholder text color */
}

.auth-buttons {
    display: flex;
    justify-content: flex-end; /* Align to the right */
}

.auth-buttons a {
    margin-right: 10px;
}

.signup-container {
    text-align: center;
}

.signup-container form {
    margin: 0 auto;
    max-width: 300px;
}

/* Login page specific styles */
.login-container {
    text-align: center;
}

.login-container form {
    margin: 0 auto;
    max-width: 300px;
}

.signupbtn {
    display: inline-block;
    background-color: var(--brown);
    color: var(--almost-white);
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signupbtn:hover {
    background-color: var(--light);
}

.loginbtn {
    display: inline-block;
    background-color: var(--brown);
    color: var(--almost-white);
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.loginbtn:hover {
    background-color: var(--light);
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin for better separation */
}

.signup-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    padding: 1em;
}

.login-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    padding: 1em;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
    margin: auto;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.menu .container .cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    padding: auto;
}

.auth-buttons {
    display: flex;
    align-items: center; /* Align items vertically */
}

.auth-buttons a {
    margin-left: 10px; /* Add margin between username and logout button */
}

.profile-header {
    background-color: var(--dark-brown);
    color: var(--almost-white);
    padding: 20px 0;
}

.profile-header h1 {
    font-size: 2em;
}

.profile-auth-buttons {
    display: flex;
    align-items: center; /* Align items vertically */
}

.profile-auth-buttons a {
    margin-left: 10px; /* Add margin between username and logout button */
}

.item-count-container {
    display: flex;
    align-items: center;
}

.item-count-container button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.item-count-container span {
    margin: 0 10px;
}


/* CSS for the modal */
    .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: var(--dark-brown);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .quantity {
    margin: 1em;
    padding: 1em;
  }

  .log.resolved {
    color: var(--faded)
  }